In [1]:
import xlrd
import pandas as pd
import csv
import sqlite3
import matplotlib
matplotlib.use("svg")
import matplotlib.pyplot as plt
import os
if not os.environ.get("DISABLE_TESTING", False):
    %matplotlib inline
plt.style.use('ggplot')
import numpy as np

In [2]:
##Read table using pandas 
df1 = pd.read_csv("grad_rates_pupil_teacher_ratio.csv",skiprows=6)

In [3]:
df1

,County Name,County Name [Public School] 2017-18,County Name [Public School] 2016-17,Total Number of Public Schools [Public School] 2017-18,Total Number of Public Schools [Public School] 2016-17,American Indian/Alaska Native - male [Public School] 2017-18,American Indian/Alaska Native - male [Public School] 2016-17,American Indian/Alaska Native - female [Public School] 2017-18,American Indian/Alaska Native - female [Public School] 2016-17,Asian or Asian/Pacific Islander - male [Public School] 2017-18,...,Hawaiian Nat./Pacific Isl. - male [Public School] 2017-18,Hawaiian Nat./Pacific Isl. - male [Public School] 2016-17,Hawaiian Nat./Pacific Isl. - female [Public School] 2017-18,Hawaiian Nat./Pacific Isl. - female [Public School] 2016-17,Two or More Races - male [Public School] 2017-18,Two or More Races - male [Public School] 2016-17,Two or More Races - female [Public School] 2017-18,Two or More Races - female [Public School] 2016-17,Pupil/Teacher Ratio [Public School] 2017-18,Pupil/Teacher Ratio [Public School] 2016-17
0,Abbeville County SC,Abbeville County,Abbeville County,10.0,10.0,3,3,3,1,4,...,3,2,1,"=""0""",34,38,26,28,13.17,13.49
1,Acadia Parish LA,Acadia Parish,Acadia Parish,27.0,27.0,†,†,†,†,†,...,†,†,†,†,207,198,237,214,20.30,17.92
2,Accomack County VA,Accomack County,Accomack County,13.0,13.0,4,4,4,4,22,...,"=""0""",1,5,4,15,16,18,16,16.55,16.26
3,Ada County ID,Ada County,Ada County,136.0,134.0,210,224,207,221,991,...,†,163,†,166,1446,1313,1358,1240,18.99,19.25
4,Adair County IA,Adair County,Adair County,5.0,5.0,–,–,†,†,†,...,–,–,–,–,12,13,14,11,11.41,12.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,Totals:,NaN,NaN,99337.0,99138.0,†,†,†,†,†,...,†,†,†,†,952629,890554,924383,860392,NaN,NaN
3139,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3140,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3141,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3142,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#create and read table using sqlite
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

#Column names end with 16 indicate school year 16-17
#Column names end with 17 indicate school year 17-18
cursor.execute("""
CREATE TABLE GRAD_RATIO(
    county_name TEXT,
    county_name_17 TEXT,
    county_name_16 TEXT,
    total_num_schools_17 INTEGER,
    total_num_schools_16 INTEGER,
    american_indian_male_17 INTEGER,
    american_indian_male_16 INTEGER,
    american_indian_female_17 INTEGER,
    american_indian_female_16 INTEGER,
    asian_male_17 INTEGER,
    asian_male_16 INTEGER,
    asian_female_17 INTEGER,
    asian_female_16 INTEGER,
    hispanic_male_17 INTEGER,
    hispanic_male_16 INTEGER,
    hispanic_female_17 INTEGER,
    hispanic_female_16 INTEGER,
    black_male_17 INTEGER,
    black_male_16 INTEGER,
    black_female_17 INTEGER,
    black_female_16 INTEGER,
    white_male_17 INTEGER,
    white_male_16 INTEGER,
    white_female_17 INTEGER,
    white_female_16 INTEGER,
    hawaiian_male_17 INTEGER,
    hawaiian_male_16 INTEGER,
    hawaiian_female_17 INTEGER,
    hawaiian_female_16 INTEGER,
    mixed_male_17 INTEGER,
    mixed_male_16 INTEGER,
    mixed_female_17 INTEGER,
    mixed_female_16 INTEGER,
    student_teacher_ratio_17 INTEGER,
    student_teacher_ratio_16 INTEGER
);""")

conn.commit()

with open ("grad_rates_pupil_teacher_ratio.csv") as grad_ratio:
    data = csv.reader(grad_ratio)
    counter = 0
    for row in data:
        if counter >= 7 and len(row)>=35:
            #print(counter)
            cursor.execute("""INSERT INTO GRAD_RATIO VALUES (?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?)""", tuple(row))
        counter += 1

        conn.commit()
            

pd.read_sql_query("SELECT * from GRAD_RATIO;", conn)

,county_name,county_name_17,county_name_16,total_num_schools_17,total_num_schools_16,american_indian_male_17,american_indian_male_16,american_indian_female_17,american_indian_female_16,asian_male_17,...,hawaiian_male_17,hawaiian_male_16,hawaiian_female_17,hawaiian_female_16,mixed_male_17,mixed_male_16,mixed_female_17,mixed_female_16,student_teacher_ratio_17,student_teacher_ratio_16
0,Abbeville County SC,Abbeville County,Abbeville County,10,10,3,3,3,1,4,...,3,2,1,"=""0""",34,38,26,28,13.17,13.49
1,Acadia Parish LA,Acadia Parish,Acadia Parish,27,27,†,†,†,†,†,...,†,†,†,†,207,198,237,214,20.3,17.92
2,Accomack County VA,Accomack County,Accomack County,13,13,4,4,4,4,22,...,"=""0""",1,5,4,15,16,18,16,16.55,16.26
3,Ada County ID,Ada County,Ada County,136,134,210,224,207,221,991,...,†,163,†,166,1446,1313,1358,1240,18.99,19.25
4,Adair County IA,Adair County,Adair County,5,5,–,–,†,†,†,...,–,–,–,–,12,13,14,11,11.41,12.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3134,Yuma County CO,Yuma County,Yuma County,10,10,†,†,†,†,–,...,–,–,–,–,†,†,†,†,12.76,12.76
3135,Zapata County TX,Zapata County,Zapata County,6,6,"=""0""","=""0""","=""0""","=""0""",1,...,"=""0""","=""0""","=""0""","=""0""","=""0""",1,"=""0""","=""0""",16.17,14.94
3136,Zavala County TX,Zavala County,Zavala County,8,8,1,1,1,2,2,...,"=""0""","=""0""","=""0""","=""0""",1,4,1,1,13.56,12.56
3137,Ziebach County SD,Ziebach County,Ziebach County,4,4,262,279,281,272,"=""0""",...,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",1,2,10.59,11.02
3138,Totals:,n/a,n/a,99337,99138,†,†,†,†,†,...,†,†,†,†,952629,890554,924383,860392,n/a,n/a

In [5]:
#Load graduation_rate_total 
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE GRAD_RATE_TOTAL(
    region_id INTEGER,
    region_name TEXT,
    region_type TEXT,
    year INTEGER,
    variable TEXT,
    percentage REAL  
);""")

conn.commit()


with open ("graduation_rates_total.csv",encoding='latin-1') as grad_rate:
    data = csv.reader(grad_rate)
    counter = 0
    for row in data:
        if counter >= 1:
            cursor.execute("INSERT INTO GRAD_RATE_TOTAL VALUES (?,?,?,?,?,?)",tuple(row))
        counter += 1
        
conn.commit()



pd.read_sql_query("SELECT * from GRAD_RATE_TOTAL;", conn)

,region_id,region_name,region_type,year,variable,percentage
0,0500000US72011,"A?asco Municipio, Puerto Rico",county,2015,percent_high_school_graduate_or_higher,67.4
1,0500000US72011,"Aí±asco Municipio, Puerto Rico",county,2011,percent_high_school_graduate_or_higher,60.9
2,0500000US72011,"Aí±asco Municipio, Puerto Rico",county,2010,percent_high_school_graduate_or_higher,59.3
3,0500000US45001,"Abbeville County, South Carolina",county,2016,percent_high_school_graduate_or_higher,78.3
4,0500000US45001,"Abbeville County, South Carolina",county,2015,percent_high_school_graduate_or_higher,78.1
...,...,...,...,...,...,...
10528,0500000US48507,"Zavala County, Texas",county,2015,percent_high_school_graduate_or_higher,60.2
10529,0500000US48507,"Zavala County, Texas",county,2010,percent_high_school_graduate_or_higher,57.7
10530,0500000US46137,"Ziebach County, South Dakota",county,2016,percent_high_school_graduate_or_higher,85.4
10531,0500000US46137,"Ziebach County, South Dakota",county,2015,percent_high_school_graduate_or_higher,86.4
10532,0500000US46137,"Ziebach County, South Dakota",county,2012,percent_high_school_graduate_or_higher,83.7

In [6]:
fin_df = pd.read_excel("financial_data.xls", sheet_name=["14","15","16","17","18"], skiprow=5)
fin_df_pps = fin_df["18"].fillna(-1)
fin_df_pps

,Table 18. Per Pupil Amounts for Current Spending of the 100 Largest Public Elementary-Secondary School Systems in the United,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,States by Enrollment: Fiscal Year 2017,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,(Dollars. Detail may not add to total because ...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,Rank,-1.0,School System,State,-1,Current spending,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1.0,-1,-1,-1,-1,For selected objects,-1,For selected functions,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,Notes: See Appendix B for a description o...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
147,"community services, and other nonelementary-se...",-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
148,whose charters are held directly by a governme...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
149,for the Survey of School System Finances.,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
150,SOURCE: 2017 Census of Governments: Financ...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [21]:
# print(fin_df["18"].columns)
per_pupil_spending = pd.DataFrame([], columns=["Rank", "School System", "State", "Enrollment", "Instruction_Total", 
                              "Instruction_Salaries", "Instruction_EmployeeBenefits", "Support_Total", 
                              "Support_Pupil", "Support_Staff","Support_GeneralAdmin", "Support_SchoolAdmin"])
per_pupil_spending["Rank"] = [i for i in range(100)]
per_pupil_spending["School System"] = [i for i in fin_df_pps["Unnamed: 2"][4:] if i !="School System" and i != -1]
per_pupil_spending["State"] = [i for i in fin_df_pps["Unnamed: 3"][4:] if i !="State" and i != -1]
per_pupil_spending["Enrollment"] = [int(i) for i in fin_df_pps["Unnamed: 4"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_Total"] = [int(i) for i in fin_df_pps["Unnamed: 8"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_Salaries"] = [int(i) for i in fin_df_pps["Unnamed: 9"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_EmployeeBenefits"] = [int(i) for i in fin_df_pps["Unnamed: 10"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Total"] = [int(i) for i in fin_df_pps["Unnamed: 11"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Pupil"] = [int(i) for i in fin_df_pps["Unnamed: 12"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Staff"] = [int(i) for i in fin_df_pps["Unnamed: 13"] if i != -1 and type(i) != str]
per_pupil_spending["Support_GeneralAdmin"] = [int(i) for i in fin_df_pps["Unnamed: 14"] if i != -1 and type(i) != str]
per_pupil_spending["Support_SchoolAdmin"] = [int(i) for i in fin_df_pps["Unnamed: 15"] if i != -1 and type(i) != str]

per_pupil_spending.to_csv(index=False)

In [24]:
#Finance sheet 17
fin_df_percent_dist_rev = fin_df["17"].fillna(-1)
fin_df_percent_dist_rev

,Table 17. Percentage Distribution of Revenue of the 100 Largest Public Elementary-Secondary School Systems in the United,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,States by Enrollment: Fiscal Year 2017,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,(Detail may not add to total because of roundi...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,Rank,-1.0,School System,State,-1,-1,Federal sources,-1,State sources,-1,Local sources,-1,-1,-1
4,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,Notes: See Appendix B for a description o...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
148,"under ""Other local governments."" Some data app...",-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
149,systems. Survey of School System Finances stat...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
150,Charter schools whose charters are held by non...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
151,SOURCE: 2017 Census of Governments: Finance...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [89]:
percent_dist_rev = pd.DataFrame([], columns=["Rank","School System","State","Enrollment","Overall Total Percentage",
                                             "Federal Total Percentage","Federal Title I","State Total Percentage",
                                             "State General Formula Assistance","Local Total Percentage",
                                             "Local Taxes Parent Government Contributions","Other Local Government",
                                            "Charges"])

percent_dist_rev["Rank"] = [i for i in range(100)]
percent_dist_rev["School System"] = [i for i in fin_df_percent_dist_rev["Unnamed: 2"][4:] if i !="School System" and i != -1]
percent_dist_rev["State"] = [i for i in fin_df_percent_dist_rev["Unnamed: 3"][4:] if i !="State" and i != -1]
percent_dist_rev["Enrollment"] = [int(i) for i in fin_df_percent_dist_rev["Unnamed: 4"] if i != -1 and type(i) != str]
percent_dist_rev["Overall Total Percentage"] = [float(i) for i in fin_df_percent_dist_rev["Unnamed: 5"][4:] if i !="Total" and i != -1]
percent_dist_rev["Federal Total Percentage"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 6"]) if i !="Federal sources" and i != "Total2" and i != -1]
percent_dist_rev["Federal Title I"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 7"]) if i !="Federal sources" and i != "Title I" and i != -1]
percent_dist_rev["State Total Percentage"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 8"]) if i !="State sources" and i != "Total2" and i != -1]
percent_dist_rev["State General Formula Assistance"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 9"]) if i !="State sources" and i != "General" and i !="formula" and i != "assistance" and i != -1]
percent_dist_rev["Local Total Percentage"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 10"]) if i !="Local sources" and i != "Total2" and i != -1]

#This function changes the (Z) to zeros  
def changeZ(i):
    try:
        return (float(i))
    except:
        return(0.0)

percent_dist_rev["Local Taxes Parent Government Contributions"] = [changeZ(i) for i in (fin_df_percent_dist_rev["Unnamed: 11"]) if i !="Local sources" and i != -1 and i!="Taxes and" and i != "parent" and i != "government" and i != "contributions"]
percent_dist_rev["Other Local Government"] = [changeZ(i) for i in (fin_df_percent_dist_rev["Unnamed: 12"]) if i !="Local sources" and i != -1 and i!="Other" and i != "local" and i != "governments"]
percent_dist_rev["Charges"] = [changeZ(i) for i in (fin_df_percent_dist_rev["Unnamed: 13"]) if i !="Local sources" and i != -1 and i!="Charges"]


percent_dist_rev

,Rank,School System,State,Enrollment,Overall Total Percentage,Federal Total Percentage,Federal Title I,State Total Percentage,State General Formula Assistance,Local Total Percentage,Local Taxes Parent Government Contributions,Other Local Government,Charges
0,0,New York City,New York,984462,100.0,6.9,3.2,37.1,25.2,56.0,52.1,0.0,0.2
1,1,Los Angeles Unified,California,633621,100.0,10.8,3.6,62.8,48.0,26.3,20.2,2.0,0.8
2,2,Chicago,Illinois,378199,100.0,13.4,5.0,34.4,28.3,52.2,46.5,1.3,0.9
3,3,Miami-Dade County,Florida,357249,100.0,12.3,3.8,29.9,10.0,57.8,52.5,0.0,3.6
4,4,Clark County,Nevada,326953,100.0,9.2,2.9,62.2,18.9,28.6,26.9,0.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Oakland Unified,California,49760,100.0,9.4,2.6,51.8,38.1,38.8,28.9,3.0,0.1
96,96,San Juan Unified,California,49255,100.0,6.9,2.0,64.0,48.0,29.2,24.5,0.5,1.2
97,97,Manatee County,Florida,48884,100.0,10.4,2.8,33.6,13.3,56.0,47.4,0.1,6.0
98,98,Jefferson Parish,Louisiana,48668,100.0,13.0,4.3,37.5,36.1,49.5,46.0,0.7,0.9
99,99,Charleston County,South Carolina,48551,100.0,8.2,2.0,30.5,5.4,61.4,52.6,3.3,1.8